<!-- <ion-view view-title="Post">
  <ion-content class="padding">
      <hr>
      <section id="cd-timeline" class="cd-container">

        <div ng-repeat="comment in comments">
          <div class="cd-timeline-block" ng-if="!isDefined(comments)">
          	<!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
            <!-- <div class="cd-timeline-picture text-center dark">
              <img ng-src="/img/{{activity.profilePicture}}"></img>
            </div>
            <!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
            <!-- <div class="cd-timeline-content padding dark">
            	            </div>
          </div>
        </div>
      </section>
  </ion-content>
</ion-view> -->
<!-- <ion-thread comments="comments"></ion-thread> -->

<ion-view view-title="Post">
  <ion-content class="padding">
      <h5 class="marginBottom0 marginTop0">{{challenge.title}}</h5>
      <!-- Change userId to get username -->
      <!--<p class="marginTop5 cd-author">{{challenge.userId}}</p>-->
      <p class="timelineText">{{challenge.content}}</p>
      <hr>
      <section id="cd-timeline" class="cd-container">

        <div ng-repeat="comment in comments">
          <div class="cd-timeline-block">
          	<!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
            <div class="cd-timeline-picture text-center dark">
              <img ng-src="/img/{{activity.profilePicture}}"></img>
            </div>
            <!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
            <!-- <a ui-sref="tab.feeds.challenge_detail({id: comment._id})"> -->
            <div class="cd-timeline-content padding dark">
            	<h5 class="marginBottom0 marginTop0">{{comment.content}}</h5>
            	<!-- <p class="marginTop5 cd-author">{{comment.email}}</p>
            	<p class="timelineText">{{comment.description}}</p> -->
            </div>
            <!-- </a> -->
          </div>
        </div>
      </section>
  </ion-content>
</ion-view>
