<!-- <ion-view view-title="Feed">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="comment in comments" type="item-text-wrap" ui-sref="#/tab/feeds/{{comment.id}})">
        <h2>{{comment.content}}</h2>
        <p>{{comment.id}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(feed)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view> -->
<ion-view view-title="Post">
  <ion-content class="padding">
      <h5 class="marginBottom0 marginTop0">Donald Trump</h5>
      <p class="marginTop5 cd-author">Dankcember</p>
      <p class="timelineText">Blah blah</p>
      <hr>
      <section id="cd-timeline" class="cd-container">

        <div ng-repeat="comment in comments">
          <div class="cd-timeline-block">
          	<!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
            <div class="cd-timeline-picture text-center dark">
              <img ng-src="/img/{{activity.profilePicture}}"></img>
            </div>
            <!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
            <a href="#/feeds/{{contact.id}}">
            <div class="cd-timeline-content padding dark">
            	<h5 class="marginBottom0 marginTop0">{{comment.content}}</h5>
            	<p class="marginTop5 cd-author">{{comment.email}}</p>
            	<p class="timelineText">{{comment.description}}</p>
            </div>
            </a>
          </div>
        </div>
      </section>
  </ion-content>
</ion-view>
